
.pageContent {
	padding: 30px 60px;
}

.tabs {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	margin-bottom: 20px;
}

.tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tabs button:hover {
	background-color: #ddd;
}

.tabs button.active {
	background-color: #ccc;
}

.table-content {
	display: none;
}

.table-content.active {
	display: block;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.description-col {
	width: 60%;
}

.date-col {
	width: 15%;
	
}

.action-col {
	width: 15%;
	text-align:center;
}


.download-icon {
	text-align: center;
	color: blue;
}

.download-icon:hover {
	color: darkblue;
}
